@use '../base/mixins/index' as *;
@use '../base/variables/index' as *;

@mixin create-button {

    .button {
        --shadow-alpha: .3;
        --button-min-width: 18rem;
        --button-border-width: .2rem;
        --button-background: var(--color-primary);
        --button-color: #{$color-white};
        --button-border-color: #{$color-primary};
        --button-padding: clamp(#{$gap-m}, 5vw, #{$gap-l}) clamp(#{$gap-l}, 5vw, #{$gap-xl});
        --button-font-size: clamp(#{$gap-s}, 5dvi, #{$gap-l});
        --button-cursor: pointer;
        --button-outline: none;

        &--secondary {
            --button-color: #{$color-white};
            --button-border-color: #{$color-secondary};
            --button-background: #{$color-secondary};
        }
    }

    .button {
        display: inline-flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        width: auto;
        min-width: var(--button-min-width);
        gap: $gap-m;
        padding: var(--button-padding);
        background-color: var(--button-background);
        border-radius: 100vmax;
        font-family: var(--font-title);
        font-size: var(--button-font-size);
        color: var(--button-color);
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        transition: background-color $trans-time ease-in-out;
        cursor: pointer;

        &:focus:not(:focus-visible) {
            outline: var(--button-outline);
        }

        @include mq-hover {
            --button-background: var(--color-primary--hover);
        }

        >.icon {
            --icon-size: 1.2em;
            fill: var(--button-color);
        }
    }
}