@use '../base/mixins/index' as *;
@use '../base/variables/index' as *;


@mixin create-icon {
    .icon {
        --icon-size: #{$gap-l};
        display: block;
        inline-size: min(var(--icon-size), var(--icon-size));
        aspect-ratio: 1;
    }
}