@use "../base/mixins/index" as *;
@use "../base/variables/index" as *;

@mixin create-sidesheet {
  dialog::backdrop {
    background: hsl(from black h s l / .5);
  }
  .sidesheet {
    block-size: 100dvb;
    inline-size: 40svi;
    position: fixed;
    inset: 0 0 0 auto;
    z-index: 9999;
    isolation: isolate;

    &__close {
    }

    &__content {
    }
  }
}
