@use '../base/mixins/index' as *;
@use '../base/variables/index' as *;

@mixin create-container {
    .container {
        --container_max-inline-size: #{$width-desktop-full-hd};
        --container_padding-x: #{$gap-2xl};
        @include margin-set-x(auto);
        inline-size: min(var(--container_max-inline-size), calc(100% - var(--container_padding-x)));

        @include mq-responsive('desktop-full-hd', max) {
            --container_padding-x: #{$gap-xl};
        }


        @include mq-responsive('tablet', max) {
            --container_padding-x: #{$gap-xl};
        }

        @include mq-responsive('mobile-l', max) {
            --container_padding-x: #{$gap-l};
        }

        &--small {
            --container_max-inline-size: #{$width-desktop-hd};
        }
    }
}