@use '../base/mixins/index' as *;
@use '../base/variables/index' as *;

@mixin create-section {
    section {
        padding-block: 5dvb;
        block-size: 100svb;
        &:nth-child(odd) {
            background-color: var(--color-secondary);
        }
    }
}