<nav>
    <div class="nav__top">
        <a href="tel: +420758695456" class="link">+420 758 695 456</a>
        <div>Lang</div>
    </div>
    <hr />
    <div class="nav__bottom">
        <a href="" class="nav__logo">
            <img src="/images/logos/elendris-logo.svg" alt="" />
        </a>
        <ul class="menu" data-sticky="true">
            <li>
                <a href="#home">Elendris</a>
            </li>
            <li>
                <a href="#rooms">Rooms</a>
            </li>
            <li>
                <a href="#informations">Informations</a>
            </li>
            <li>
                <a href="#home">Gallery</a>
            </li>
            <li>
                <a href="#home">Contact</a>
            </li>
        </ul>
        <div class="d-flex gap-s">
            <button class="btn">Rezervovat</button>
            <button id="menuBtn" class="burger"> </button>
        </div>
    </div>
</nav>
