@use "../../styles/base/mixins/index" as *;
@use "../../styles/base/functions/index" as *;
@use "../../styles/base/variables/index" as *;

@mixin create-reservation {
    .reservation {
        background-color: $color-white;
        border-radius: 1em;
        inline-size: $width-desktop-s;
        top: 25svb;
        left: 50%;
        margin: 0;
        display: var(--dialog_display, none);
        opacity: var(--dialog_opacity, 0);
        translate: -50% var(--dialog_trans-y, 5svb);
        transition-property: overlay display opacity;
        transition-duration: .3s;
        transition-behavior: allow-discrete;

        &[open]{
            --dialog_display: block;
            --dialog_opacity: 1;
            --dialog_trans-y: 0;
            
            @starting-style{
              --dialog_opacity: 0;
              --dialog_trans-y: 5svb;
            }
          }

       > form{
            @include grid-columns(grid, repeat(var(--form-col-count, 2), 1fr), $gap-xl, stretch);
        }
    
        fieldset {
            @include grid-columns(grid, repeat(var(--form-col-count, 2), 1fr), $gap-l, stretch);
            row-gap: $gap-m;
            border: none;

            &:has(select){
                @include grid-columns(grid, 1fr auto, $gap-l, flex-end);
            }

            p:has(+ div){
                display: none;
            }
        }

        label{
            display: grid;
            gap: $gap-s;
        }

        .room-row{
            @include grid-columns(grid, 1fr 80px auto, $gap-l, flex-end);
        }

        input, select{
            padding: $gap-m;
            font-size: $gap-l;
            border-radius: .5em;
            border: 1px solid $color-black;
            min-width: 0;
        }
    }
}