---
import Helmet from "../components/helmet/Helmet.astro";
import Header from "../sections/header/Header.astro";
import Navigation from "../components/navigation/Navigation.astro";
import i18next from "i18next";
import Rooms from "../sections/rooms/Rooms.astro";
import Reservation from "../components/reservation/Reservation.astro";
import IconSet from "../components/icons/IconSet.astro";
import Icon from "../components/icons/Icon.astro";
import Contact from "../sections/contact/Contact.astro";
---

<html lang={i18next.language}>
  <Helmet
    title="Elendris | Ubytování u kostela"
    description="Útulné ubytování v rodinné atmosféře"
  />
  <body>
    <IconSet />
    <Reservation />
    <Navigation />
    <Header />
    <main>
      <section id="about">
        <div class="container container--small">
          <h2 class="center-text">Vítejte</h2>
          <p class="center-text w-100">
            na stránkách ubytování v soukromí Elendris
          </p>
          <div class="tiles">
            <div class="tile">
              <Icon name="parking" />
              <strong>Parkování<br />uvnitř areálu</strong>
            </div>
            <div class="tile">
              <Icon name="grill" />
              <strong>Venkovní posezení s grilem a trampolínou pro děti</strong>
            </div>
            <div class="tile">
              <Icon name="coffee" />
              <strong>Káva a čaj volně k dispozici</strong>
            </div>
            <div class="tile">
              <Icon name="kitchen" />
              <strong>Sdílená kuchyň<br />pro hosty</strong>
            </div>
            <div class="tile">
              <Icon name="bus" />
              <strong>Zastávka MHD 30 metrů (trolejbus 31)</strong>
            </div>
          </div>
          <p class="center-text w-100">
            Příjezd je možný <strong>od 15:00 do 21:00 hodin</strong>, abyste
            měli dostatek času na pohodlné ubytování.<br />Odjezd je <strong
              >do 10:00 hodin</strong
            >, což vám umožní si ráno v klidu sbalit a připravit se na cestu.
          </p>
          <div class="center-text m-y-3xl">
            <a href="#rooms" class="btn"> Vybrat pokoj </a>
          </div>
        </div>
      </section>
      <Rooms id="rooms" />
      <Contact id="contact" />
      <footer>
        <div class="container footer__container">
          <a href="/" class="footer__logo" rel="noreferer">
            <img src="/images/logos/elendris-logo.svg" alt="Elendris logo" />
          </a>
          <span
            >Fyzická osoba zapsaná v Živnostenském rejstříku v Magistrát města
            Brna od 31.8.2016<br />
            © 2016 - 2024 Elendris s.r.o.</span
          >
          <div>
            <span>
              Vytvořil
              <a
                href="https://lukaschylik.sk/"
                target="_blank"
                rel="external"
                class="link link--light">Lukáš Chylík</a
              >
            </span>
          </div>
        </div>
      </footer>
    </main>
  </body>
</html>
