---
import Helmet from "../components/helmet/Helmet.astro";
import Header from "../sections/header/Header.astro";
import Navigation from "../components/navigation/Navigation.astro";
import i18next from "i18next";
import Rooms from "../sections/rooms/Rooms.astro";
import Reservation from "../components/reservation/Reservation.astro";
---

<html lang={i18next.language}>
	<Helmet title="Elendris | Ubytování u kostela" description="Útulné ubytování v rodinné atmosféře" />
	<body>
		<Reservation />
		<Navigation />
		<Header />
		<main>
			<Rooms id="rooms">
		</main>
	</body>
</html>
