@use "../../styles/base/mixins/index" as *;
@use "../../styles/base/functions/index" as *;
@use "../../styles/base/variables/index" as *;

@mixin create-header {
  header {
    min-block-size: 100svb;
    display: grid;
    grid-template-rows: 1fr;
  }

  .header {
    &__container {
      @include grid-columns(grid, minmax($gap-2xl, 5fr) minmax($gap-2xl, 8fr), 0, stretch, flex-start, stretch);
    }

    &__content,
    &__anim {
      display: grid;
      align-items: center;
      align-content: center;
      row-gap: 5svb;
    }

    &__title {
      display: grid;
      gap: $gap-m;
      align-items: center;
      font-size: clamp($gap-2xl, 8svb, 6.5rem);
      line-height: 1;

      h1 {
        translate: num-neg($gap-l);
      }

      small {
        font-size: 0.3em;
      }
    }
  }

  .anim {
    position: relative;

    &__pic {
      transform-origin: center;
      animation: showImg $trans-time forwards $trans-time;
      scale: 0;
      translate: var(--anim-pic_trans-x);
      block-size: var(--anim-pic_height);
      clip-path: var(--anim-pic_clip-path);
      background-color: $color-primary;
      animation: showImg $trans-time forwards var(--anim-pic_anim-delay);

      &[data-scroll-anim="true"] {
        scale: 1;
        animation: var(--anim-pic_animation);
        animation-timeline: view();
        animation-range-start: 100svb;
        animation-range-end: cover;
      }

      &:after {
        display: block;
        content: "";
        position: absolute;
        clip-path: inherit;
        inset: 0;
        background-image: var(--anim-pic_bg-img);
        background-size: cover;
        background-position: var(--anim-pic_bg-position);
        background-repeat: no-repeat;
        translate: var(--anim-pic-after_trans-x);
        scale: var(--anim-pic-after_scale);
      }

      &--large {
        --anim-pic_bg-img: url("/images/header/header-img-1.webp");
        --anim-pic_clip-path: polygon(64% 0, 100% 64%, 13% 100%, 0 33%);
        --anim-pic_animation: animLargeImg linear;
        --anim-pic_trans-x: 5svi;
        --anim-pic-after_trans-x: #{num-neg($gap-xs)};
        --anim-pic-after_scale: 0.975;
        --anim-pic_bg-position: center;
        --anim-pic_height: 85svb;
        --anim-pic_anim-delay: #{$trans-time};
        aspect-ratio: 1;
      }

      &--small {
        --anim-pic_bg-img: url("/images/header/header-img-2.webp");
        --anim-pic_clip-path: polygon(0 31%, 52% 0, 85% 94%, 11% 100%);
        --anim-pic_animation: animSmallImg linear;
        --anim-pic_trans-x: 10svi;
        --anim-pic-after_trans-x: #{num-neg($gap-s)};
        --anim-pic-after_scale: 0.95;
        --anim-pic_bg-position: center center;
        --anim-pic_height: 40svb;
        --anim-pic_anim-delay: #{calc($trans-time * 2)};
        position: absolute;
        inset: 0 0 auto auto;
        inline-size: 50svb;
      }
    }
  }
}

@keyframes showImg {
  to {
    scale: 1;
  }
}

@keyframes animLargeImg {
  to {
    clip-path: polygon(31% 0, 100% 34%, 41% 100%, 0 53%);
  }
}

@keyframes animSmallImg {
  to {
    clip-path: polygon(22% 10%, 100% 0, 69% 100%, 0 69%);
  }
}
