@use "../../styles/base/mixins/index" as *;
@use "../../styles/base/functions/index" as *;
@use "../../styles/base/variables/index" as *;

@mixin create-header {
  header {
    min-block-size: 100svb;
    display: grid;
    grid-template-rows: 1fr;
  }

  .header {
    &__container {
      @include grid-columns(grid, minmax($gap-2xl, 5fr) minmax($gap-2xl, 8fr), 0, stretch, flex-start, stretch);
    }

    &__content,
    &__anim {
      display: grid;
      align-items: center;
      align-content: center;
      row-gap: 5svb;
    }

    &__title {
      display: grid;
      gap: $gap-m;
      align-items: center;
      font-size: clamp($gap-2xl, 8svb, 6.5rem);
      line-height: 1;
      
      h1 {
        translate: num-neg($gap-l);
      }

      small {
        font-size: 0.3em;
      }
    }
  }

  .anim {
    position: relative;
    &__large {
      clip-path: polygon(64% 0, 100% 64%, 13% 100%, 0 33%);
      inline-size: 80svb;
      block-size: 85svb;
      background-image: url(https://elendris.cz/img/gril.webp);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center right;
      animation: showImg $trans-time forwards 0.2s;
      transform-origin: center;
      scale: 0;
      translate: 10svi;

      &[data-scroll-anim="true"]{
        scale: 1;
        animation: animLargeImg linear;
        animation-timeline: view();
        animation-range-start: 83svb;
        animation-range-end: cover;
      }
    }

    &__small {
      position: absolute;
      inset: 0 0 auto auto;
      clip-path: polygon(0 31%, 52% 0, 85% 94%, 11% 100%);
      inline-size: 40svb;
      block-size: 40svb;
      background-image: linear-gradient(135deg, $color-primary, $color-secondary);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center right;
      animation: showImg $trans-time forwards 0.35s;
      transform-origin: center;
      scale: 0;
      translate: 10svi;

      &[data-scroll-anim="true"]{
        scale: 1;
        animation: animSmallImg linear;
        animation-timeline: view();
        animation-range-start: 83svb;
        animation-range-end: cover;
      }
    }

    &__small{

    }
  }
}

@keyframes showImg {
  to {
    scale: 1;
  }
}

@keyframes animLargeImg {
  to {
    clip-path: polygon(31% 0, 100% 34%, 41% 100%, 0 53%);
  }
}


@keyframes animSmallImg {
  to {
    clip-path: polygon(22% 10%, 100% 0, 69% 100%, 0 69%);
  }
}