@use '../base/variables/colors' as *;

@mixin reset {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        min-block-size: 100svb;
        margin: 0;
        font-family: system-ui;
        overflow-x: hidden;
        accent-color:  $color-primary;
    }

    textarea {
        font-family: inherit;
        resize: vertical;
    }

    dialog {
        overscroll-behavior: contain;
    }
}
