@mixin reset {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        min-block-size: 100svb;
        margin: 0;
        font-family: system-ui;
        overflow-x: hidden;
    }

    textarea {
        font-family: inherit;
        resize: vertical;
    }

    address {
        font-style: normal;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }
}
