@import "variables";
@import "mixins";

:root {
    --color-black: #{$color-black};
    --color-black--trans: #{$color-black--trans};
    --color-black--trans-dark: #{$color-black--trans-dark};
    --color-white: #{$color-white};
    --color-border: var(--color-white);
    --color-trans: #{$color-trans};
    --color-bg: #{$color-bg};
    --color-bg-nav: #{$color-bg-nav};
    --color-primary: #{$color-primary};
    --color-primary--hover: #{$color-primary--hover};
    --color-secondary: #{$color-secondary};
    --color-font: #{$color-font};
    --trans-time: #{$trans-time};
    --trans-fnc: ease-in-out;
    --animate-all: #{$animate-all};
    --gap-xxl: #{$gap-xxl};
    --gap-xl: #{$gap-xl};
    --gap-l: #{$gap-l};
    --gap-m: #{$gap-m};
    --gap-s: #{$gap-s};
    --font-text: #{$font-text};
    --font-title: #{$font-title};
    --border-width: 1px;
    --nav-height: 8rem;

    @include res-max-laptop-s{
        --nav-height: 7rem;
    }

    @include res-max-tablet{
        --nav-height: 5rem;
    }
}
