@import "../Base/global";

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-title;
    font-weight: 400;
    font-style: normal;
}

p,
span,
small {
    font-family: $font-text;
    font-weight: 100;
}

.title {
    --title-justify-content: flex-start;
    --title-font-size: 7em;
    --title-color: #{$color-font};
    --title-mg-bottom: clamp(#{$gap-xxl}, 8vh, 10rem);
    @include flex-set(flex, row, wrap, 0, center, var(--title-justify-content));
    display: block;
    margin-bottom: var(--title-mg-bottom);
    font-family: $font-title;
    font-size: var(--title-font-size);
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: 0.1em;
    color: var(--title-color);
    text-transform: uppercase;

    @include res-max-laptop-l {
        --title-font-size: 4em;
    }

    @include res-max-laptop-s {
        --title-font-size: 3.2em;
    }

    @include res-max-tablet {
        --title-font-size: 4em;
        --title-mg-bottom: #{$gap-xl};
    }

    @include res-max-mobile-l {
        --title-font-size: 3.2em;
    }

    &--center {
        --title-justify-content: center;
        text-align: center;
    }

    &--white {
        --title-color: #{$color-white};
    }

    &--mg-s {
        --title-mg-bottom: #{$gap-xxl};
    }

    &--s {
        --title-font-size: 3.2em;
        --title-mg-bottom: #{$gap-xxl};
        --title-color: #{$color-primary};

        @include res-max-laptop-l {
            --title-font-size: 2.4em;
        }

        @include res-max-laptop-s {
            --title-font-size: 1.6em;
        }

        @include res-max-tablet {
            --title-font-size: 3.2em;
            --title-mg-bottom: #{$gap-xl};
        }

        @include res-max-mobile-l {
            --title-font-size: 2.4em;
        }
    }

    &--xs {
        --title-font-size: #{$gap-l};
        --title-mg-bottom: #{$gap-l};
        --title-color: #{$color-primary};
        margin-block-start: 5vh;
    }
}

.desc {
    --border-width: 0;
    --mg-b: 5rem;
    --desc-font-size: clamp(#{$gap-l}, 3vh, #{$gap-xl});
    @include border("left", var(--border-width), $color-font);
    padding-left: var(--desc-pad-left);
    margin-block-end: var(--mg-b);
    font-family: $font-text;
    font-size: var(--desc-font-size);
    line-height: 1.7;
    color: $color-font;

    @include res-max-laptop-s {
        --desc-font-size: medium;
    }

    @include res-max-mobile-l {
        --desc-font-size: #{$gap-l};
        --mg-b: #{$gap-xxl};
    }

    &--line {
        --desc-pad-left: #{$gap-l};
        --border-width: 0.2rem;
    }

    &--no-mg {
        --mg-b: 0 !important;
    }

    &--mg-s {
        --mg-b: #{$gap-xxl};
    }

    &--center {
        text-align: center;
    }

    strong,
    a:not(.button),
    b,
    span {
        font-family: inherit;
        font-size: inherit;
    }

    strong {
        color: $color-primary;
    }
}

address {
    font-family: $font-text;
    font-size: clamp($gap-l, 2vh, $gap-xl);
    color: $color-font;
}

ul:not([class]) {
    @include grid-columns(grid, minmax($gap-xxl, auto), $gap-m);
    margin-block-end: $gap-l;
    font-family: $font-text;
    font-size: var(--list_font-size, large);
    color: $color-font;

    @include res-max-tablet {
        --list_font-size: medium;
    }
}
