//colors
$color-black: hsl(0 0% 0%);
$color-black--trans: hsl(0 0% 0% / 0.5);
$color-black--trans-dark: hsl(0 0% 0% / 0.8);
$color-white: hsl(0 0% 100%);
$color-white--trans: hsl(0 0% 100% / 0.4);
$color-trans: hsl(0 0% 0% / 0);
$color-primary: hsl(43 33% 48%);
$color-primary--hover: lighten($color-primary, 10%);
$color-primary--lighten: lighten($color-primary, 15%);
$color-secondary: hsl(0 0% 7%);
$color-bg: $color-secondary;
$color-bg-trans: hsl(0 0% 7% / 0.5);
$color-bg-trans-dark: hsl(0 0% 7% / 0.8);
$color-bg--light: hsl(200 18% 10% / 0.65);
$color-bg-nav: $color-bg-trans-dark;
$color-bg-nav-mobile: hsl(200 18% 8%);
$color-footer-bg: hsl(0 0% 11%);
$color-font: $color-white;
$color-dialog-border: hsl(120 2% 17% / 0.7);
$color-dialog-backdrop: hsl(0 0% 0% / 0.25);
$color-disabled: hsl(0 0% 50%);
$color-bg-disabled: hsl(0 0% 83%);

$trans-time: 0.25s;
$animate-all: all ease-in-out var($trans-time);
$gap-m: 0.8rem;
$gap-s: calc($gap-m / 2);
$gap-l: calc($gap-m * 2);
$gap-xl: calc($gap-m * 3);
$gap-xxl: calc($gap-m * 4);
$font-text: system-ui;
$font-title: "segoe-ui-bold", sans-serif;

// All devices width for MediaQuery
$width-mobile-s: 320px;
$width-mobile-m: 425px;
$width-mobile-l: 560px;
$width-tablet: 768px;
$width-laptop-s: 1024px;
$width-laptop-m: 1366px;
$width-laptop-l: 1440px;
$width-laptop-xl: 1920px;
$width-4k: 2560px;
$height-4k: 2160px;
